.dialog-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0;
  padding: 10px 4px 4px;

  .dialog-header {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialog-body {
    text-align: center;
    color: #111;
    font-size: 18px;
    line-height: 27px;
    border: 0;
  }

  .dialog-footer {
    display: flex;
    justify-content: center;
    border: 0;
    padding-bottom: 2rem;
  }
}

.text-delete {
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-cancel {
  background: #f4f4f4 !important;
  color: #4a4a4a !important;
  width: 150px;
  height: 54px;
  margin: 0 10px;
  padding: 13.5px 29px;
  border-radius: 45px;
  font-weight: 600 !important;
  cursor: pointer;
}

.btn-delete {
  background-color: #ed4c5c;
  color: white;
  padding: 13.5px 29px;
  width: 150px;
  height: 54px;
  margin: 0 10px;
  border-radius: 45px;
  font-weight: 600 !important;
  cursor: pointer;
}
